.conatiner {
  width: 150px;
  border: solid;
  border-color: aquamarine;
  padding: 2px;
}

#list {
  background-color: bisque;
  border: solid 2px;
  border-color: rgb(58, 172, 134);
  width: 500px;
  align-content: center;
}
.ul1 {
  width: 400px;
}
.agregar {
  width: 350px;
  border: solid 2px;
  border-color: cadetblue;
  margin-bottom: 3px;
}
#add {
  width: auto;
  align-items: center;
  justify-content: center;
}
.addlist {
  border-radius: 10%;
  background-color: rgb(3, 125, 255);
  color: rgb(255, 255, 255);
  margin-left: 13px;
  margin-bottom: 5px;
}
